<div class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <mdl-textfield (keyup.enter)="search()" type="text" [(ngModel)]="query" (keyup)="onKeyup($event)" placeholder="Type Your query..." autofocus></mdl-textfield>
    <button (click)="search()" mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple mdl-button-type="mini-fab">
        <mdl-icon>search</mdl-icon>
    </button>
</div>
<div *ngIf="loading" class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <mdl-spinner single-color [active]="loading"></mdl-spinner>
</div>
<div *ngIf="emptyArticlesList" class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <p>{{emptyArticlesListLabel}}</p>
</div>
<app-token [hidden]="emptyArticlesList" #tokenComponent [tokens]="tokens"></app-token>
<div [hidden]="emptyArticlesList" class="mdl-cell mdl-cell--center mdl-cell--12-col"></div>
<div [hidden]="!displayResetButton || emptyArticlesList" class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <div class="mdl-cell--80">
        <button (click)="resetButton()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{resetButtonLabel}}
        </button>
    </div>
</div>
<app-article [hidden]="emptyArticlesList" #articleComponent [articles]="articles" [pageLength]="pageLength"></app-article>