<div class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <mdl-textfield (keyup.enter)="search()" type="text" [(ngModel)]="query" (keyup)="onKeyup($event)" placeholder="Type Your query..." autofocus></mdl-textfield>
    <button (click)="search()" mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple mdl-button-type="mini-fab">
        <mdl-icon>search</mdl-icon>
    </button>
</div>
<div *ngIf="loading" class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <mdl-spinner single-color [active]="loading"></mdl-spinner>
</div>
<app-token #tokenComponent [tokens]="tokens"></app-token>
<div class="mdl-cell mdl-cell--center mdl-cell--12-col"></div>
<div class="mdl-cell mdl-cell--center mdl-cell--12-col"></div>
<app-article #articleComponent [articles]="articles" [pageLength]="pageLength"></app-article>