:host {
    width: 100%;
}

.mdl-cell--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-button--fab {
    margin: 0;
}

.mdl-spinner {
    width: 60px;
    height: 60px;
    margin: 20px;
}
