<div class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <mdl-textfield type="text" [(ngModel)]="query" placeholder="Type Your query..." autofocus></mdl-textfield>
    <button (click)="search()" mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple mdl-button-type="mini-fab">
        <mdl-icon>search</mdl-icon>
    </button>
</div>
<div class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <app-token [tokens]="tokens"></app-token>
</div>
<div class="mdl-cell mdl-cell--center mdl-cell--12-col"></div>
<div class="mdl-cell mdl-cell--center mdl-cell--12-col"></div>
<app-article [articles]="articles"></app-article>