<div class="mdl-cell mdl-cell--center mdl-cell--12-col" *ngFor="let article of pageArticles; let index = index;">
    <mdl-card mdl-shadow="3">
        <mdl-card-title>
            <h2 mdl-card-title-text>{{article.article.title}}</h2>
        </mdl-card-title>
        <mdl-card-supporting-text [hidden]="isExpanded(index)">
            <div>{{article.article.abstractText | ellipsis:350}}</div>
        </mdl-card-supporting-text>
        <mdl-card-supporting-text [hidden]="!isExpanded(index)">
            <div [hidden]="!article.article.date" class="mdl-card__text">Date: {{article.article.date}}</div>
            <div [hidden]="!article.article.authors.length" class="mdl-card__text">
                Authors: <span *ngFor="let author of article.article.authors; let last = last" [class.authors-spacer]="!last">{{author}}</span>
            </div>
            <div>{{article.article.abstractText}}</div>
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
            <button [hidden]="isExpanded(index)" (click)="expandArticle(index)" mdl-button mdl-colored="primary" mdl-ripple>View more</button>
            <button [hidden]="!isExpanded(index)" (click)="expandArticle(index)" mdl-button mdl-colored="primary" mdl-ripple>View less</button>
        </mdl-card-actions>
        <mdl-card-menu>
            <button (click)="rateNegative(index)" [class.rated-negative]="isStatePositive(index) === false" mdl-button mdl-button-type="icon"
                mdl-ripple>
                <mdl-icon>thumb_down</mdl-icon>
            </button>
            <button (click)="rateNeutral(index)" [class.rated-neutral]="isStatePositive(index) === undefined" mdl-button mdl-button-type="icon"
                mdl-ripple>
                <mdl-icon>thumbs_up_down</mdl-icon>
            </button>
            <button (click)="ratePositive(index)" [class.rated-positive]="isStatePositive(index)" mdl-button mdl-button-type="icon" mdl-ripple>
                <mdl-icon>thumb_up</mdl-icon>
            </button>
            <p class="mdl-card__number-text">{{article.relevance | floatingPoint:7}}</p>
        </mdl-card-menu>
    </mdl-card>
</div>
<div [hidden]="!pageArticles.length || isSinglePage()" class="mdl-cell mdl-cell--center mdl-cell--12-col">
    <button (click)="previousPage()" mdl-button mdl-ripple mdl-colored="primary">
        <mdl-icon>keyboard_arrow_left</mdl-icon>
    </button>
    <button (click)="nextPage()" mdl-button mdl-ripple mdl-colored="primary">
        <mdl-icon>keyboard_arrow_right</mdl-icon>
    </button>
</div>