$mdl-card__text-color: #333;
$primary-color: #00bcd4;
$color-red: #f44336;
$color-light-green: #8bc34a;

.mdl-cell--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-card {
    width: 80%;
}

.mdl-card__title-text {
    width: 88%;
}

.mdl-card__text {
    color: $mdl-card__text-color;
    margin-bottom: 5px;
}

.authors-spacer {
    &:after {
        content: ", "
    }
}

.rated-neutral {
    color: $primary-color;
}

.rated-positive {
    color: $color-light-green;
}

.rated-negative {
    color: $color-red;
}
