$mdl-card__text-color: #333;

.mdl-cell--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-card {
    width: 80%;
}

.mdl-card__title-text {
    width: 95%;
}

.mdl-card__text {
    color: $mdl-card__text-color;
    margin-bottom: 5px;
}

.authors-spacer {
    &:after {
        content: ", "
    }
}